<% content_for :title, "All Shelters" %>
<section>
  <h2>Adopt Don't Shop Shelters</h2>
  <p>Below is a list of shelters that we partner with. Click on any of them to
  get more information and see their pets!</p>
  <h3>Suggest a <%= link_to "New Shelter", "/shelters/new" %></h3>
  <div class="filter-buttons">
    <%= link_to 'Sort by # Pets', '/shelters?sort=pets', class: 'filter' %>
    <%= link_to 'Sort Alphabetically', '/shelters?sort=alpha', class: 'filter' %>
  </div>

  <ul>
  <% @shelters.each do |shelter| %>
    <li><h3><%= link_to shelter.name, shelter_path(shelter) %></h3>
      (<%= link_to "Edit Shelter", edit_shelter_path(shelter) %>)/(<%= link_to "Delete", "/shelters/#{shelter.id}", method: "delete" %>)</li>
  <% end %>
  </ul>

</section>
