<% content_for :title, "View the Pets at #{@shelter.name}" %>
<section>
  <h2><%= @shelter.name %> Available Pets</h2>
  <p>Total Pets: <%= @shelter.pets.pet_count %></p>
  <p><%= link_to 'Create Pet', new_pet_path(@shelter) %></p>
  <div class="filter-buttons">
    <%= link_to "See Adoptable Pets Only", shelter_pets_path(@shelter, adoptable:true), class: 'filter'  %>
    <%= link_to "See Pending Pets Only", shelter_pets_path(@shelter, adoptable:false), class: 'filter' %>
  </div>
  <% @pets_list.each do |pet| %>
  <h3><%= link_to pet.name, pet_path(pet) %></h3>
  <div class="pet-card">
    <%= image_tag(pet.image, height: "150px") %>
    <ul class="pet-info">
      <li>Age: <%= pet.approximate_age %></li>
      <li>Sex: <%= pet.sex %></li>
      <li><%= link_to 'See more info!', pet_path(pet) %></li>
      <li><%= link_to 'Edit', edit_pet_path(pet) %></li>
      <li><%= link_to 'Delete Pet', pet, method: 'delete' %></li>
    </ul>
  </div>
  <% end %>
</section>
