<% content_for :title, "Edit Details for #{@pet.name}" %>
<section>
  <%= form_with(url: pet_path(@pet), method: :patch) do %>
    <%= label_tag(:name, "Pet Name:") %>
    <%= text_field_tag(:name, @pet.name ) %>
    <br />
    <%= label_tag(:image, "Pet Image (URL):") %>
    <%= text_field_tag(:image, @pet.image ) %>
    <br />
    <%= label_tag(:approximate_age, "Pet Age (approx):") %>
    <%= text_field_tag(:approximate_age, @pet.approximate_age ) %>
    <br /><br />
    <%= radio_button_tag(:sex, "Female") %>
    <%= label_tag(:sex_female, "Female") %>
    <%= radio_button_tag(:sex, "Male") %>
    <%= label_tag(:sex_male, "Male") %>
    <br /><br />
    <%= label_tag(:description, "Pet Description:") %><br />
    <%= text_area_tag(:description, @pet.description, size: "20x3") %>
    <br />
    <%= submit_tag("Update Pet", class: 'submit') %>
  <% end %>
</section>
