<h1>Adopt Don't Shop Available Pets</h1>
<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %><a></h2>
    <img src=<%= pet.image %> />
    <ul>
      <li>Age: <%= pet.approximate_age %></li>
      <li>Sex: <%= pet.sex %></li>
      <li>Find at: <a href="/shelters/<%= pet.shelter_id%>"><%= pet.shelter.name%></a></li>
    </ul>
<% end %>
<p>Suggest a <a href="/pet/new">New Pet</a></p>
