<% content_for :title, "Add a new pet" %>
<section>
  <%= form_with(url: "/pets", method: "post") do %>
    <%= label_tag(:name, "Pet Name:") %>
    <%= text_field_tag(:name) %>
    <br />
    <%= label_tag(:image, "Pet Image (URL):") %>
    <%= text_field_tag(:image) %>
    <br />
    <%= label_tag(:approximate_age, "Pet Age (approx):") %>
    <%= text_field_tag(:approximate_age) %>
    <br /><br />
    <%= radio_button_tag(:sex, "Female") %>
    <%= label_tag(:sex_female, "Female") %>
    <%= radio_button_tag(:sex, "Male") %>
    <%= label_tag(:sex_male, "Male") %>
    <br /><br />
    <%= label_tag(:description, "Pet Description:") %><br />
    <%= text_area_tag(:description, "Tell us about the pet!", size: "20x3") %>
    <br />
    <%= hidden_field_tag(:shelter_id, "#{@shelter.id}") %>
    <%= hidden_field_tag(:status, "Adoptable") %>

    <%= submit_tag("Create Pet", class: 'submit') %>
  <% end %>
</section>
