<section class="pet-card">
  <div class="pet-image">
    <img src=<%= @pet.image %> />
  </div>
  <div class="pet-data">
    <h1>Meet <%= @pet.name %></h1>
    <p><%= @pet.description %></p>
    <p>Guessed Age: <%= @pet.approximate_age %></p>
    <p>Sex: <%= @pet.sex %></p>
    <p>Status: <%= @pet.status %> - <%= link_to @link, @path, method: "patch" %>
    <p>Find <%= @pet.name %> at <%= link_to @pet.shelter.name, shelter_path(@pet.shelter_id) %></p>
  </div>
  <%= link_to "Update Pet", edit_pet_path(@pet) %>
  <%= link_to "Delete Pet", @pet, method: "delete" %>
</section>
